 @import url('http://fonts.cdnfonts.com/css/roboto-condensed');

                

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;                                           
    scroll-behavior: smooth;
}

body{
    background-color: rgb(247, 200, 198);
}
.container-sabores {
    background-image: url(PNG-helado-y-bochitas.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dir{
    background-color: black;
    text-align: center;      
}

.dir p span{
    font-size: 2vh;
    color: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif;
}

.main{
    background-image: repeating-linear-gradient(157.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),repeating-linear-gradient(90deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),linear-gradient(90deg, hsl(333,93%,55%),hsl(45,93%,55%),hsl(117,93%,55%),hsl(189,93%,55%),hsl(261,93%,55%));
}

nav{
    text-align:left;
    padding: 10px 0px;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif;

}

h1{
    text-align: center;
    font-size: 5vh;
    margin-top: 2%;
    margin-bottom: 5%;

}

.container{
    width: 100;
    display: flex;
    /*max-width: 1100px;*/
}

.card{
    width: 100%;
    height: 30vh;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    /*background: #fff;*/
    background: transparent;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 200px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

h2{
    text-align: center;
}

footer{
    font-size: 1.5vh;
    color: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif;
    text-align: center;
    background-color: black;
}


