@import url('http://fonts.cdnfonts.com/css/masiku');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;                                           
    scroll-behavior: smooth;
    
}


.dir{
    background-color: black;
    text-align: center;
       
}

.dir p span{
    font-size: 2vh;
    color: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif; 

}

.main{
    background-image: repeating-linear-gradient(157.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),repeating-linear-gradient(90deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),linear-gradient(90deg, hsl(333,93%,55%),hsl(45,93%,55%),hsl(117,93%,55%),hsl(189,93%,55%),hsl(261,93%,55%));
}

nav{
    text-align:left;
    padding: 10px 0px;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif;
}

footer{
    font-size: 1.5vh;
    color: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed Light', sans-serif;
    text-align: center;
}
